@(elements: views.html.helper.FieldElements)
 
@import play.api.i18n._
@import views.html.helper._
 
<div class="control-group @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    <label class="control-label" for="@elements.id">@elements.label(elements.lang)</label>
    <div class="controls">
        @elements.input
        @if(elements.errors.length > 0) {<span class="help-inline">@elements.errors(elements.lang).mkString(", ")</span>}
        @if(elements.infos.length > 0) {<p class="help-block">@elements.infos(elements.lang).mkString(", ")</p>}
    </div>
</div>
