@(title: String, message: String, messageType: String, myForm: Form[USER], id:String)

@import views.BootstrapHelper._

@main(title, message, messageType) {
	
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">ユーザー</li>
				<li><a href="/">ユーザー一覧</a></li>
				<li><a href="/createUser">ユーザー新規作成</a></li>
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
		
	<div class="span9">
		@helper.form(
	        routes.UserController.updateUser(id),
	        'class -> "form-horizontal"
		) {
			<table class="table table-hover">
		       	<tr>
		       		<td>
		       			顧客ID【@id】
		       		</td>
		        </tr>
		       	<tr>
		       		<td>
			            @helper.inputText(
			                myForm("seiKana"),
			                'placeholder -> "やまだ",
			                '_label -> "せい",
			                '_error -> myForm.error("seiKana")
			            )
		       		</td>
		       		<td>
			            @helper.inputText(
			                myForm("meiKana"),
			                'placeholder -> "たろう",
			                '_label -> "めい",
			                '_error -> myForm.error("meiKana")
			            )
		       		</td>
		        </tr>
		        <tr>
		       		<td>
			            @helper.inputText(
			                myForm("sei"),
			                'placeholder -> "山田",
			                '_label -> "姓",
			                '_error -> myForm.error("sei")
			            )
		       		</td>
		       		<td>
			            @helper.inputText(
			                myForm("mei"),
			                'placeholder -> "太郎",
			                '_label -> "名",
			                '_error -> myForm.error("mei")
			            )
		       		</td>
		        </tr>
		       	<tr>
		       		<td>
		       			@helper.inputDate(
		       				myForm("birthdate"),
            				'_label -> "生年月日"
		       			)
		       		</td>
		        </tr>
		       	<tr>
		       		<td>
    					@helper.inputRadioGroup(
				            myForm("gender"),
            				options = Seq("M" -> "男", "F" -> "女"),
            				'_label -> "性別",
			                '_error -> myForm.error("gender")
            			)
		       		</td>
		        </tr>
		       	<tr>
		       		<td>
			            @helper.inputText(
			                myForm("detail"),
			                'placeholder -> "備考",
			                '_label -> "備考",
			                '_error -> myForm.error("detail")
			            )
		       		</td>
		        </tr>
			</table>
            <input type="submit" value="Update an User" class="btn" />
		}
	</div>
}
