@(title: String, message: String, messageType: String, dataList:List[USER])

@import helper.twitterBootstrap._

@main(title, message, messageType) {

	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">ユーザー</li>
				<li class="active"><a href="/">ユーザー一覧</a></li>
				<li><a href="/createUser">ユーザー新規作成</a></li>
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
	
	<div class="span9">
		<table class="table table-hover">
		    <thead>
		        <tr>
		        	<th>アクション</th>
		        	<th>氏名</th>
		        	<th>生年月日</th>
		        	<th>性別</th>
		        	<th>備考</th>
		        </tr>
		    </thead>
		    @if(dataList != null){
		    <tbody>
			    @for(user:USER <- dataList){
		        	<tr>
		        		<td>
		        			<a href="/editUser/@(user.id)">更新</a>
		        			<a href="/deleteUser/@(user.id)">削除</a>
		        		</td>
		        		<td>
		        			@user.seiKana @user.meiKana<br />
		        			@user.sei @user.mei
		        		</td>
		        		<td>@user.birthdate</td>
		        		<td>@user.gender</td>
		        		<td>@user.detail</td>
		        	</tr>
		        }
		    </tbody>
		    }
		</table>
	    @if(dataList != null){
		<div class="pagination pagination-right">
		  <ul>
		  	<li><a href="/firstUser">&lt;&lt;</a></li>
		    <li><a href="/prevUser">&lt;</a></li>
		    <li><a href="/nextUser">&gt;</a></li>
		    <li><a href="/lastUser">&gt;&gt;</a></li>
		  </ul>
		</div>
	    }
	</div>

}
